.title{
    font-family: "Funnel display", serif;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    margin-top: 70px;
}
.hero{
    color: #323232;
    font-size: 35px;
    margin-top: 8vh;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("/assets/media/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    height: 90vh;
}
.hero h1{
    position: relative;
    z-index: 1;
    margin-left: 10%;
    padding-top: 25vh;
    font-size: 100px;
    text-decoration: solid underline var(--blue-light);
}
.hero h1 span{
    color: var(--blue-dark);
}
.hero p{
    margin: 10px 10% 10px;
    font-size: 25px;
}
.hero p u{
    color: rgb(205, 0, 0);
}
.hero .heroButtons{
    width: 100%;
    display: flex;
    margin: 10px 10%;
}
.hero .heroButtons a{
    padding: 10px 60px;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
    background-color: var(--blue-semi-dark);
}
.hero .heroButtons a:hover{
    background-color: var(--blue-dark);
    transition: 0.4s background-color;
}
.hero .heroButtons a:nth-child(1){
    margin-right: 20px;
}
.cards{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.cardTitle{
    text-align: center;
    margin-top: 70px;
}
.cards .card{
    margin: 20px 10px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--standard-background);
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 30%;
    text-align: center;
}
.cards .card:hover{
    transform: translateY(-8px);
    background-color: var(--standard-background-hover);
}
.cards .card div i{
    color: var(--blue-dark);
    font-size: 40px;
}
.cards .card div h3{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
}
.cards .card p{
    margin-top: 20px;
    color: var(--standard-txt-color);
}
.infoSection{
    margin-top: 40px;
    background-color: var(--standard-background);
}
.infoSection .title{
    padding-top: 40px;
}
.infoSection .title span{
    background: var(--blue-light);
    color: #dbe3ff;
    padding: 5px 20px !important;
    border-radius: 100px;
}
.infoSection .stats{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}
.infoSection .stat{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.infoSection .stat h3{
    font-size: 200;
}
.infoSection .stat i{
    font-size: 40px;
}
.titleDescription{
    text-align: center;
    color: var(--standard-txt-color);
    margin-bottom: 20px;
}
.infoSection .divides{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
}
.infoSection .divide{
    width: 40%;
}
.infoSection video{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 30px;
    border: solid 1px;
}
.carouselContainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carouselItem {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}
.carouselItem img {
    width: 100%;
    border-radius: 30px;
}
.carouselBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 200px;
    z-index: 10;
    cursor: pointer;
}
.carouselBtn.left {
    left: 10px;
}
.carouselBtn.right {
    right: 10px;
}
.integrationsLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px;
}
.integrationsLogos a {
    display: flex;
}
.integrationsLogos img {
    width: 100px;
    transition: transform 0.3s ease;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    margin-left: 20px;
    margin-right: 20px;
}
.integrationsLogos a:hover img{
    transform: scale(1.2);
    cursor: pointer;
}
.optionsTitle{
    margin-top: 100px;
}
.options{
    justify-content: center;
}
.location{
    margin-top: 100px;
    text-align: center;
}
.location img{
    width: 50%;
}
.documentationContainer{
    background-color: var(--standard-background);
    padding-top: 5px;
    padding-bottom: 50px;
    margin-top: 50px;
}
.documentationItems {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: calc(100vw - 40px);
    margin:20px 10px 0 10px;
    gap: 20px;
    background-color: var(--standard-background);
}
.documentationItems .documentationItem:nth-child(1){
    background: url('/assets/media/guiaInicioBg.png');
    background-size: cover;
}
.documentationItems .documentationItem:nth-child(2){
    background: url('/assets/media/ytBg.png');
    background-size: cover;
}
.documentationItems .documentationItem:nth-child(3){
    background: url('/assets/media/docsBg.png');
    background-size: cover;
}
.documentationItems .documentationItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    color: white;
    padding: 30px;
    border-radius: 40px;
    flex-grow: 1;
    height: 300px;
    cursor: pointer;
    text-decoration: none;
}
.documentationItems .documentationItem h3{
    font-size: 25px;
    font-weight: 500;
}
.documentationItems .documentationItem i {
    border: 1px solid white;
    padding: 7px 8px;
    font-size: 26px;
    border-radius: 200px;
    position: absolute;
    right: 20px;
    transition: all 0.4s;
    font-weight: 400;
}
.documentationItems .documentationItem:hover i{
    background-color: white;
    font-weight: 300;
    color: black;
    transform: rotate(-30deg);
    transition: transform 0.4s;
}
.documentationItems .documentationItem .btn{
    width: 100%;
    font-size: 17px;
    color: white;
    padding: 10px;
    border: solid 1px white;
    text-align: center;
    border-radius: 200px;
    align-self: flex-start;
}
.documentationItems .documentationItem:hover .btn{
    background-color: white;
    color: black;
    transition: all 0.4s;
}
.support{
    justify-content: center;
}
@media (max-width: 1470px) {
    .hero h1{font-size: 70px;}
    .hero p{font-size: 20px;}
    .hero{background-position: 80%;}
}
@media (max-width: 1270px) {
    .hero{background-position: 20%;}
    .cards{flex-wrap: wrap;}
    .cards .card{width: 48.1%;}
}
@media (max-width: 1100px){
    .hero h1{font-size: 50px;}
    .hero p{font-size: 18px;}
    .cards{flex-direction: column; margin-left: 0px;}
    .cards .card{width: 100%;}
    .infoSection .stats{justify-content: center;}
    .infoSection .divides{flex-direction: column;}
    .infoSection .divide{width: 100%;}
    .location img{width: 90%;}
    .documentationItems {flex-direction: column;}
    .infoSection video{height: auto;}
}
@media (max-width: 700px){
    .hero .heroButtons{flex-direction: column;margin-right: 200px;}
    .hero .heroButtons a{margin: 10px 0px;margin-right: 80px !important;text-align: center;}
    .hero .heroButtons{margin: 0;}
    .hero .heroButtons a{width: 90%; margin-left: 5%!important;}
}
@media (max-width: 500px){
    .hero h1{font-size: 40px;}
    .hero p{font-size: 16px;}
}
@media (max-width: 350px){
    .hero h1{font-size: 30px;}
    .hero p{font-size: 14px;}
}
@media (max-width: 768px) {
    .carouselBtn {font-size: 16px;padding: 8px;}
}
@media (max-height: 829px) {
    .hero{
        margin-top: 14vh;
        height: 80vh;
    }
}